@charset "UTF-8";
:root {
  --basic-black: #000000;
  --basic-extra-light-gray: #EEEEEE;
  --basic-light-gray: #CACACA;
  --basic-gray: #888888;
  --special-more-gray: #6A6A6A;
  --basic-invisible: #333333;
  --basic-white: #ffffff;
  --basic-neutral: #F2F2F2;
  --basic-light-brown: #766357;
  --special-brown: #604E43;
  --special-extra-brown: #503E33;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-extra-blue: #5496BD;
}

body {
  /* Позиционирование */
  /* Блочная модель */
  min-width: 1200px;
  margin: 0px;
  padding: 0px;
  /* Типографика */
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  /* Оформление */
  background-color: var(--basic-neutral);
}

.wrapper {
  /* Блочная модель */
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 0 0;
  /* Типографика */
  text-align: center;
  /* Оформление */
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
}

.page-body {
  /* Блочная модель */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  -ms-flex-line-pack: start;
      align-content: start;
}

.main-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-header__site-navigation {
  font-weight: 700;
}

.intro {
  /* Блочная модель */
  width: 1200px;
  height: 509px;
  margin: 0 0 25px 0;
  /* Оформление */
  background: var(--basic-extra-blue) url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}
.intro__pic {
  padding: 75px 0 0 0;
}

.visually-hidden {
  /* Позиционирование */
  position: absolute;
  clip: rect(0 0 0 0);
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about p {
  color: var(--basic-invisible);
}

.features__row2 {
  /*Блочная модель*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
  padding: 0 110px;
  /* Оформление */
  list-style: none;
}
.features__row2__item {
  width: 254px;
}
.features__row2__item p {
  color: var(--basic-invisible);
}
.features__row2__item h3 {
  font-size: 21px;
  font-weight: 700;
}
.features__row4 {
  background-color: var(--basic-extra-light-gray);
}
.features__row4 p {
  color: var(--basic-invisible);
}
.features__row4 h3 {
  font-size: 21px;
  font-weight: 700;
}

.item1 {
  /* Типографика */
  color: var(--basic-white);
  /* Оформление */
  background-color: var(--basic-light-blue);
}
.item1 h3 {
  font-size: 21px;
}

.search-hotels__box {
  line-height: 24px;
}
.search-hotels__title {
  font-size: 30px;
  font-weight: 700;
}

.page-footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-footer__contacts {
  font-size: 21px;
  font-weight: 700;
}