@charset "UTF-8";
:root {
  --basic-black: #000000;
  --special-black: #22353с;
  --basic-extra-light-gray: #EEEEEE;
  --basic-light-gray: #CACACA;
  --basic-gray: #888888;
  --basic-more-gray: #666666;
  --special-light-gray: #BDBBBC;
  --special-gray: #B3B3B3;
  --special-more-gray: #6A6A6A;
  --basic-invisible: #333333;
  --basic-white: #ffffff;
  --basic-neutral: #F2F2F2;
  --basic-light-brown: #766357;
  --special-light-brown: #847870;
  --special-brown: #604E43;
  --special-extra-brown: #503E33;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-extra-blue: #5496BD;
  --special-blue: #87B5D1;
}

html,
body {
  height: 100%;
}

body {
  /* Позиционирование */
  /* Блочная модель */
  min-width: 1200px;
  margin: 0;
  padding: 0;
  /* Типографика */
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  /* Оформление */
  background-color: var(--basic-neutral);
}

.wrapper {
  /* Блочная модель */
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  /* Типографика */
  text-align: center;
  /* Оформление */
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  opacity: 0.9;
}
.wrapper a {
  text-decoration: none;
}
.wrapper ul {
  list-style: none;
}

.main-wrapper {
  background-image: url("../img/map.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.main-header {
  /*Думая про наполняемость контентом,делаем так, чтобы новые пункты меню не заходили за логотип*/
}
.main-header__navigation {
  display: -ms-grid;
  display: grid;
}
.main-header__navigation a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
}
.main-header__navigation ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.main-header__site-navigation {
  padding: 0 72px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header__site-navigation li {
  margin-right: 80px;
}
.main-header__site-navigation li:nth-child(5n) {
  margin-right: 0px;
}
.main-header__logo {
  z-index: 1;
  width: 138px;
  height: 56px;
}
.main-header__site-navigation-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: left;
}
.main-header__site-navigation-item2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: left;
}
.main-header__site-navigation-item3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
}
.main-header__site-navigation-item4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: right;
}
.main-header__site-navigation-item5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: right;
}
.main-header__site-navigation-item_hotels-page {
  color: var(--basic-light-brown);
  font-weight: 700;
  line-height: 26px;
}

.site-navigation-link {
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
}
.site-navigation-link:hover {
  color: var(--basic-light-blue);
}
.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.intro {
  position: relative;
  /* Блочная модель */
  width: 1200px;
  min-height: 509px;
  margin: 0 0 0 0;
  /* Оформление */
  background-image: url("../img/background-photo.jpg");
  background-color: var(--basic-extra-blue);
  background-repeat: no-repeat;
}
.intro__pic {
  padding: 75px 0 0 0;
}

.intro:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 452px;
  width: 1200px;
  height: 57px;
  background: url("../img/Shape.svg") no-repeat;
}

.visually-hidden {
  /* Позиционирование */
  position: absolute;
  clip: rect(0 0 0 0);
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about {
  min-height: 216px;
}
.about h2 {
  width: 470px;
  margin: 0 auto;
  padding: 41px 0 48px 0;
  line-height: 26px;
}
.about p {
  margin: 0;
  color: var(--basic-invisible);
  padding: 0 50px 50px 50px;
}

.features ul {
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
}
.features .first-features {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.features .first-features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features .number {
  position: relative;
}
.features .second-features {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.features .third-features {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.features .fourth-features {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.features .fifth-features {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.features__row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  background-color: var(--basic-light-blue);
}
.features__row1-pic {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}
.features__row2 {
  /*Блочная модель*/
  margin: 0px;
  /* Оформление */
}
.features__row2-columns {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: 80px;
  padding-top: 160px;
}
.features__row2-columns p {
  margin: 0 0 25px 0;
  color: var(--basic-invisible);
  padding: 0 49px 0 50px;
}
.features__row2-columns p:last-child {
  margin-bottom: 0;
}
.features__row2-columns h3 {
  margin: 0 0 26px 0;
  padding-right: 51.5px;
  padding-left: 49px;
  font-size: 21px;
  font-weight: 700;
}
.features__row3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  background-color: var(--basic-light-blue);
}
.features__row3-pic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}
.features__gray-block {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 32px;
  margin-bottom: 51px;
  background-color: var(--basic-extra-light-gray);
}
.features__gray-block h3 {
  margin: 0 0 26px 0;
  padding: 0 139px;
  font-size: 21px;
  font-weight: 700;
}
.features__gray-block p {
  padding: 0 69px;
  margin: 0 0 25px 0;
  color: var(--basic-invisible);
}
.features__gray-block p:not(:last-child):after {
  content: "";
  position: absolute;
  top: 7px;
  right: 180px;
  border-right: 1px solid var(--basic-invisible);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.features__gray-block p:not(:last-child):before {
  content: "";
  position: absolute;
  top: 7px;
  left: 180px;
  border-right: 1px solid var(--basic-invisible);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.item {
  width: 400px;
  padding: 47px 0 54px 0;
  /* Типографика */
  color: var(--basic-white);
  /* Оформление */
  background-color: var(--basic-light-blue);
}
.item h3 {
  padding: 0 95px;
  margin: 0 0 26px 0;
}
.item p {
  padding: 0 49px 0 50px;
  margin: 0 0 24px 0;
}
.item p:last-child {
  margin-bottom: 0;
}
.item p:not(:last-child):after {
  content: "";
  position: absolute;
  top: 7px;
  right: 180px;
  border-right: 1px solid var(--basic-white);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.item p:not(:last-child):before {
  content: "";
  position: absolute;
  top: 7px;
  left: 180px;
  border-right: 1px solid var(--basic-white);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.housing:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 60px;
  right: 165px;
  background: url("../img/icons/icon-house.svg") no-repeat;
}

.food:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: 63px;
  right: 165px;
  background: url("../img/icons/icon-burger.svg") no-repeat;
}

.souvenirs:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: 56px;
  right: 167px;
  background: url("../img/icons/icon-gift.svg") no-repeat;
}

.search-hotels__box {
  margin: 0 0 47px 0;
  padding: 0 382px;
  line-height: 24px;
}
.search-hotels__box p {
  margin: 0 0 23px 0;
}
.search-hotels__box h2 {
  margin: 0 0 34px 0;
}
.search-hotels__title {
  font-size: 30px;
  font-weight: 700;
}

.search-hotels-map {
  min-height: 473px;
}

.page-footer .container {
  padding: 0 53px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  background-color: var(--basic-white);
  opacity: 0.9;
}

.page-footer__contacts {
  padding: 0 0 16px 0;
  font-size: 21px;
  font-weight: 700;
}
.page-footer__contacts p {
  margin: 0 0 14px 0;
}
.page-footer__contacts a {
  color: var(--basic-black);
}

.page-footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding: 0;
}
.page-footer-social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
}
.page-footer-social__button:hover {
  background-color: var(--basic-blue);
}
.page-footer-social__button:active {
  background-color: var(--basic-extra-blue);
}
.page-footer-social__button:active img {
  opacity: 0.3;
}

.page-footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 196px;
  padding: 3px 3px 0 0;
  margin: 0 auto;
}
.page-footer-copyright__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-footer-copyright__logo:hover path {
  fill: var(--basic-light-blue);
}
.page-footer-copyright__logo:active path {
  fill: var(--special-light-gray);
}

.choosing-hotel {
  min-height: 158px;
  width: 1056px;
  color: var(--basic-white);
  padding: 27px 72px 32px 72px;
  background: var(--basic-extra-blue) url("../img/background-hotels.png");
  background-repeat: no-repeat;
}
.choosing-hotel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.choosing-hotel fieldset {
  padding: 0;
  border: none;
}
.choosing-hotel fieldset legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
.choosing-hotel__first-columns {
  /*На случай, если элементов формы будет больше*/
  width: 738px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.choosing-hotel__first-columns fieldset {
  margin-right: 120px;
}
.choosing-hotel__first-columns fieldset:nth-child(3n) {
  margin-right: 0;
}
.choosing-hotel__first-columns fieldset:nth-child(n+4) {
  margin-top: 30px;
}
.choosing-hotel__infrastructure {
  width: 135px;
  min-height: 157px;
}
.choosing-hotel__type-of-housing {
  width: 137px;
  min-height: 157px;
}
.choosing-hotel__last-column {
  width: 317px;
  min-height: 157px;
}
.choosing-hotel__show {
  width: 137px;
  padding: 10px 0;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
}
.choosing-hotel__show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.input {
  width: 317px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}
.input input {
  width: 35px;
  padding: 10px 0px;
  color: var(--basic-white);
  border: none;
  background: transparent;
}

.user-choice {
  padding: 0 73px;
}

.user-choice-finded {
  min-height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user-choice-finded__sorting1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1020px;
  font-size: 12px;
  line-height: 18px;
}
.user-choice-finded__sorting1 p {
  margin: 0 40px 0 0;
  padding: 31px 0 0 0;
}
.user-choice-finded__sorting1 ul {
  width: 742px;
  padding: 31px 0 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user-choice-finded__sorting1 ul li {
  margin-right: 33px;
  /*на случай переполнения контента*/
  margin-bottom: 10px;
}
.user-choice-finded__sorting1 h3 {
  padding: 27px 0;
  margin: 0 46px 0 0;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
  line-height: 26px;
}
.user-choice-finded__sorting2 {
  width: 34px;
}
.user-choice-finded__sorting1-item {
  color: var(--basic-light-blue);
}
.user-choice-finded__sorting1-item:hover {
  border-bottom: 1px dashed var(--basic-light-blue);
}
.user-choice-finded__sorting1-item:active {
  color: var(--basic-black);
  border-bottom: 0px;
}
.user-choice-finded__sorting1-item2 {
  color: var(--special-gray);
  border-bottom: 1px dashed var(--basic-light-blue);
}
.user-choice-finded__sorting1-item2:hover {
  color: var(--basic-light-blue);
  border-bottom: 1px dashed var(--basic-light-blue);
}
.user-choice-finded__sorting1-item2:active {
  color: var(--basic-black);
  border-bottom: 0px;
}

.hotel {
  min-height: 97px;
  padding: 24px 0 30px 0;
}
.hotel__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.hotel__buttons a {
  margin-right: 6px;
  margin-top: 6px;
}
.hotel__img {
  margin-right: 30px;
}
.hotel p {
  width: 110px;
  padding: 5px 0;
  color: var(--basic-more-gray);
  background: var(--basic-neutral);
}
.hotel dl {
  color: var(--basic-invisible);
}
.hotel h3 {
  font-size: 21px;
  font-weight: 700;
}
.hotel h3 a {
  color: var(--basic-black);
}
.hotel h3 a:hover {
  color: var(--basic-light-blue);
}
.hotel h3 a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.user-choice-list p {
  margin: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
.user-choice-list h3 {
  margin: 0;
}
.user-choice-list dl {
  margin: 0;
}

.user-choice-list-row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content auto -webkit-min-content;
  -ms-grid-columns: min-content auto min-content;
  grid-template-columns: -webkit-min-content auto -webkit-min-content;
  grid-template-columns: min-content auto min-content;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.user-choice-list-row1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.user-choice-list-row1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.user-choice-list-row1 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.user-choice-list-row1 > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.user-choice-list-row1 > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.user-choice-list-row1 > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.user-choice-list-row1 > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.user-choice-list-row1 > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.user-choice-list-row1 > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.user-choice-list-row1 img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.user-choice-list-row1 h3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: left;
      justify-self: left;
}
.user-choice-list-row1 dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-choice-list-row1__stars {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-column-align: right;
      justify-self: right;
}
.user-choice-list-row1 p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-column-align: right;
      justify-self: right;
}

.user-choice-list-row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-columns: min-content 1fr min-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.user-choice-list-row2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.user-choice-list-row2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.user-choice-list-row2 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.user-choice-list-row2 > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.user-choice-list-row2 > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.user-choice-list-row2 > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.user-choice-list-row2 > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.user-choice-list-row2 > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.user-choice-list-row2 > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.user-choice-list-row2 img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.user-choice-list-row2 h3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: left;
      justify-self: left;
}
.user-choice-list-row2 dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-choice-list-row2__stars {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-row-align: right;
      align-self: right;
  -ms-grid-column-align: right;
      justify-self: right;
}
.user-choice-list-row2 p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-column-align: right;
      justify-self: right;
}

.user-choice-list-row3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-columns: min-content 1fr min-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.user-choice-list-row3 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.user-choice-list-row3 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.user-choice-list-row3 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.user-choice-list-row3 > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.user-choice-list-row3 > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.user-choice-list-row3 > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.user-choice-list-row3 > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.user-choice-list-row3 > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.user-choice-list-row3 > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.user-choice-list-row3 img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.user-choice-list-row3 h3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: left;
      justify-self: left;
}
.user-choice-list-row3 dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-choice-list-row3__stars {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-row-align: right;
      align-self: right;
  -ms-grid-column-align: right;
      justify-self: right;
}
.user-choice-list-row3 p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-column-align: right;
      justify-self: right;
}

.more-details {
  padding: 2px 15px;
  font-weight: 700;
  color: var(--basic-white);
  border: 2px solid var(--basic-light-blue);
  background: var(--basic-light-blue);
}
.more-details:hover {
  background: var(--basic-blue);
}
.more-details:active {
  color: var(--special-blue);
  background: var(--basic-extra-blue);
}

.reservation {
  padding: 2px 15px;
  font-weight: 700;
  color: var(--basic-white);
  border: 2px solid var(--basic-light-brown);
  background: var(--basic-light-brown);
}
.reservation:hover {
  background: var(--special-brown);
}
.reservation:active {
  color: var(--special-light-brown);
  background: var(--special-brown);
}

.title_white {
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
}

.searching-form {
  position: relative;
  width: 568px;
  margin: 0 auto;
}
.searching-form__title {
  padding: 0 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86px;
  line-height: 26px;
  background-color: var(--basic-light-brown);
}
.searching-form__form {
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.form {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 112px auto 112px auto;
  grid-template-columns: 112px auto 112px auto;
  grid-row-gap: 27px;
  padding: 55px 54px 55px 54px;
}
.form .arrival-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: left;
      justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .input-arrival-date {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: right;
      justify-self: right;
  width: 346px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}
.form .departure-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: left;
      justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .input-departure-date {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: right;
      justify-self: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}
.form .adults {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: left;
      justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2px;
}
.form .quantity-adults {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: center;
  margin-top: 2px;
}
.form .children {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: right;
      justify-self: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 26px;
  margin-top: 2px;
}
.form .quantity-children {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: center;
  margin-top: 2px;
  -ms-grid-column-align: right;
      justify-self: right;
}
.form__find {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  margin-top: 27px;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background-color: var(--basic-light-blue);
}
.form__button-calendar-arrival {
  position: absolute;
  top: 62px;
  left: 483px;
  width: 21px;
  height: 23px;
  border: none;
  background: var(--basic-neutral) url("../img/icons/calendar.svg") no-repeat;
}
.form__button-calendar-departure {
  position: absolute;
  top: 129px;
  left: 483px;
  width: 21px;
  height: 23px;
  border: none;
  background: var(--basic-neutral) url("../img/icons/calendar.svg") no-repeat;
}
.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
}
.form input {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-neutral);
}
.form__input {
  position: relative;
  width: 346px;
  height: 38px;
}
.form__quantity {
  width: 114px;
  height: 38px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
}