@charset "UTF-8";
:root {
  --basic-black: #000000;
  --special-black: #22353с;
  --basic-extra-light-gray: #EEEEEE;
  --basic-light-gray: #CACACA;
  --basic-gray-another: #A9A9A9;
  --basic-gray: #888888;
  --basic-more-gray: #666666;
  --basic-most-gray: #767477;
  --special-light-gray: #BDBBBC;
  --special-gray: #B3B3B3;
  --special-more-gray: #6A6A6A;
  --extra-dark-gray: #ababab;
  --basic-invisible: #333333;
  --basic-white: #ffffff;
  --basic-neutral: #F2F2F2;
  --basic-dark-neutral: #EBEBEB;
  --special-neutral: #E5E5E5;
  --basic-light-brown: #766357;
  --special-light-brown: #847870;
  --special-brown: #604E43;
  --special-extra-brown: #503E33;
  --basic-light-blue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-extra-blue: #5496BD;
  --special-blue: #87B5D1;
}

html,
body {
  height: 100%;
}

body {
  /* Позиционирование */
  /* Блочная модель */
  min-width: 1200px;
  margin: 0;
  padding: 0;
  /* Типографика */
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-black);
  /* Оформление */
  background-color: var(--basic-neutral);
}

.wrapper {
  /* Блочная модель */
  position: relative;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  /* Типографика */
  text-align: center;
  /* Оформление */
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  opacity: 0.9;
}
.wrapper a {
  text-decoration: none;
}
.wrapper ul {
  list-style: none;
}

.main-wrapper {
  background-image: url("../img/map.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.main-header__navigation {
  display: -ms-grid;
  display: grid;
}
.main-header__navigation a {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
}
.main-header__navigation ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.main-header__site-navigation {
  padding: 0 72px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header__site-navigation li {
  margin-right: 80px;
}
.main-header__site-navigation li:nth-child(5n) {
  margin-right: 0px;
}
.main-header__logo {
  z-index: 1;
  width: 138px;
  height: 56px;
}
.main-header__site-navigation-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: left;
}
.main-header__site-navigation-item2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: left;
}
.main-header__site-navigation-item3 {
  /*Думая про наполняемость контентом,делаем так, чтобы новые пункты меню не заходили за логотип*/
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
}
.main-header__site-navigation-item4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: right;
}
.main-header__site-navigation-item5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 147.2px;
          flex: 0 1 147.2px;
  text-align: right;
}
.main-header__site-navigation-item_hotels-page {
  color: var(--basic-light-brown);
  font-weight: 700;
  line-height: 26px;
}

.site-navigation-link {
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
}
.site-navigation-link:hover {
  color: var(--basic-light-blue);
}
.site-navigation-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.intro {
  position: relative;
  /* Блочная модель */
  width: 1200px;
  min-height: 509px;
  margin: 0 0 0 0;
  /* Оформление */
  background-image: url("../img/background_photo.jpg");
  background-color: var(--basic-extra-blue);
  background-repeat: no-repeat;
}
.intro__pic {
  padding: 75px 0 0 0;
}

.intro:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 452px;
  width: 1200px;
  height: 57px;
  background: url("../img/figure.svg") no-repeat;
}

.visually-hidden {
  /* Позиционирование */
  position: absolute;
  clip: rect(0 0 0 0);
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
}

.about {
  min-height: 216px;
}
.about h2 {
  width: 470px;
  margin: 0 auto;
  padding: 41px 0 48px 0;
  line-height: 26px;
}
.about p {
  margin: 0;
  color: var(--basic-invisible);
  padding: 0 50px 50px 50px;
}

.features ul {
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0;
}
.features__row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  background-color: var(--basic-light-blue);
}
.features__row1-pic {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}
.features__row2 {
  /*Блочная модель*/
  margin: 0px;
  /* Оформление */
}
.features__row2-columns {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: 80px;
  padding-top: 160px;
}
.features__row2-columns p {
  margin: 0 0 25px 0;
  color: var(--basic-invisible);
  padding: 0 49px 0 50px;
}
.features__row2-columns p:last-child {
  margin-bottom: 0;
}
.features__row2-columns h3 {
  margin: 0 0 26px 0;
  padding-right: 51.5px;
  padding-left: 49px;
  font-size: 21px;
  font-weight: 700;
}
.features__row3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  background-color: var(--basic-light-blue);
}
.features__row3-pic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}
.features__gray-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  padding-top: 45px;
  padding-bottom: 32px;
  margin-bottom: 54px;
  background-color: var(--basic-extra-light-gray);
}
.features__gray-block h3 {
  margin: 0 0 26px 0;
  padding: 0 139px;
  font-size: 21px;
  font-weight: 700;
}
.features__gray-block p {
  padding: 0 69px;
  margin: 0 0 25px 0;
  color: var(--basic-invisible);
}
.features__gray-block p:not(:last-child):after {
  content: "";
  position: absolute;
  top: 7px;
  right: 180px;
  border-right: 1px solid var(--basic-invisible);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.features__gray-block p:not(:last-child):before {
  content: "";
  position: absolute;
  top: 7px;
  left: 180px;
  border-right: 1px solid var(--basic-invisible);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.first-features {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.first-features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.number {
  position: relative;
}

.second-features {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.third-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.fourth-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.fifth-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.item {
  width: 400px;
  padding: 47px 0 54px 0;
  /* Типографика */
  color: var(--basic-white);
  /* Оформление */
  background-color: var(--basic-light-blue);
}
.item h3 {
  padding: 0 95px;
  margin: 0 0 26px 0;
}
.item p {
  padding: 0 49px 0 50px;
  margin: 0 0 24px 0;
}
.item p:last-child {
  margin-bottom: 0;
}
.item p:not(:last-child):after {
  content: "";
  position: absolute;
  top: 7px;
  right: 180px;
  border-right: 1px solid var(--basic-white);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.item p:not(:last-child):before {
  content: "";
  position: absolute;
  top: 7px;
  left: 180px;
  border-right: 1px solid var(--basic-white);
  height: 8px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.housing:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 60px;
  right: 165px;
  background: url("../img/icons/icon_house.svg") no-repeat;
}

.food:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: 63px;
  right: 165px;
  background: url("../img/icons/icon_burger.svg") no-repeat;
}

.souvenirs:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: 56px;
  right: 167px;
  background: url("../img/icons/icon_gift.svg") no-repeat;
}

.search-hotels__box {
  margin: 0 0 43px 0;
  padding: 0 382px;
  line-height: 24px;
}
.search-hotels__box p {
  margin: 0 0 23px 0;
}
.search-hotels__box h2 {
  margin: 0 0 34px 0;
}
.search-hotels__title {
  font-size: 30px;
  font-weight: 700;
}

.search-hotels-map {
  min-height: 593px;
}

.page-footer-index {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-footer {
  padding: 0 53px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  background-color: var(--basic-white);
  opacity: 0.9;
}

.page-footer__contacts {
  padding: 0 0 16px 0;
  font-size: 21px;
  font-weight: 700;
}
.page-footer__contacts p {
  margin: 0 0 14px 0;
}
.page-footer__contacts a {
  color: var(--basic-black);
}

.page-footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 151px;
  margin: 0 auto;
  padding: 0;
}
.page-footer-social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
}
.page-footer-social__button:hover {
  background-color: var(--basic-blue);
}
.page-footer-social__button:active {
  background-color: var(--basic-extra-blue);
}
.page-footer-social__button:active img {
  opacity: 0.3;
}
.page-footer-social li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
}
.page-footer-social li:nth-child(n+4) {
  margin-top: 10px;
}

.page-footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 196px;
  padding: 3px 3px 0 0;
  margin: 0 auto;
}
.page-footer-copyright__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-footer-copyright__logo:hover path {
  fill: var(--basic-light-blue);
}
.page-footer-copyright__logo:active path {
  fill: var(--special-light-gray);
}

.choosing-hotel {
  width: 1059px;
  color: var(--basic-white);
  padding: 26.5px 73px 34px 69px;
  background: var(--basic-extra-blue) url("../img/background_hotels.png");
  background-repeat: repeat;
}
.choosing-hotel__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.choosing-hotel__form button {
  font-family: "PT Sans", Arial, sans-serif;
}
.choosing-hotel__fieldset {
  padding: 0;
  border: none;
}
.choosing-hotel__fieldset legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
.choosing-hotel__first-columns {
  /*На случай, если элементов формы будет больше*/
  width: 738px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.choosing-hotel__first-columns legend {
  margin-bottom: 23px;
}
.choosing-hotel__first-columns label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 25px;
  padding-left: 42px;
  text-align: left;
}
.choosing-hotel__first-columns label:last-child {
  margin-bottom: 0;
}
.choosing-hotel__first-columns .input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background: url("../img/icons/checkbox_off.svg") no-repeat;
}
.choosing-hotel__first-columns .input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 23px;
  background: url("../img/icons/checkbox_on.svg") no-repeat;
}
.choosing-hotel__first-columns .input-checkbox:focus + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background: url("../img/icons/checkbox_off.svg") no-repeat;
  border: 2px solid var(--basic-white);
  border-radius: 5px;
}
.choosing-hotel__first-columns .input-checkbox:focus:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 23px;
  background: url("../img/icons/checkbox_on.svg") no-repeat;
  border: 2px solid var(--basic-white);
  border-radius: 5px;
}
.choosing-hotel__first-columns .input-checkbox:disabled + label {
  opacity: 0.3;
}
.choosing-hotel__first-columns .input-checkbox:checked:disabled + label {
  opacity: 0.3;
}
.choosing-hotel__first-columns fieldset {
  margin-right: 118px;
}
.choosing-hotel__first-columns legend {
  text-align: left;
}
.choosing-hotel__first-columns fieldset:nth-child(3n) {
  margin-right: 0;
}
.choosing-hotel__first-columns fieldset:nth-child(n+4) {
  margin-top: 30px;
}
.choosing-hotel__infrastructure {
  width: 135px;
  min-height: 157px;
}
.choosing-hotel__type-of-housing {
  width: 137px;
  min-height: 157px;
}
.choosing-hotel__last-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 317px;
}
.choosing-hotel__price {
  text-align: left;
}
.choosing-hotel__price legend {
  margin-bottom: 10px;
}
.choosing-hotel__show {
  margin-top: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 137px;
  padding: 5px 0;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
}
.choosing-hotel__show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.range-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 317px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}
.range-price__from {
  width: 160px;
  padding-left: 65px;
}
.range-price__from input {
  font-family: "PT Sans", Arial, sans-serif;
}
.range-price__from:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  top: 5px;
  left: 51%;
  -webkit-transform: translateX(-51%);
      -ms-transform: translateX(-51%);
          transform: translateX(-51%);
}
.range-price__till {
  width: 157px;
  padding-left: 42px;
}
.range-price__till input {
  font-family: "PT Sans", Arial, sans-serif;
}
.range-price input {
  width: 55px;
  padding: 8px 0px;
  color: var(--basic-white);
  border: none;
  background: transparent;
}

.range-control {
  position: relative;
  margin-top: 20px;
  width: 316px;
}

.scale {
  height: 2px;
  background-color: var(--basic-most-gray);
}

.bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--extra-dark-gray);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--basic-most-gray);
          box-shadow: 0 2px 1px 0 var(--basic-most-gray);
  cursor: pointer;
}

.toggle:hover {
  width: 4.8px;
  height: 4.8px;
  border: 9.7px solid var(--basic-white);
  -webkit-box-shadow: 0 2.4px 1.2px 0 var(--basic-most-gray);
          box-shadow: 0 2.4px 1.2px 0 var(--basic-most-gray);
}

.toggle-max {
  left: 248px;
}

.user-choice {
  padding: 0 73px;
}

.user-choice-finded {
  min-height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user-choice-finded__sorting1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  line-height: 18px;
}
.user-choice-finded__sorting1 p {
  margin: 0 40px 0 0;
  padding: 31px 0 0 0;
}
.user-choice-finded__sorting1 ul {
  width: 742px;
  padding: 31px 0 0 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.user-choice-finded__sorting1 li {
  margin-right: 33px;
  /*на случай переполнения контента*/
  margin-bottom: 10px;
}
.user-choice-finded__sorting1 h3 {
  padding: 27px 0;
  margin: 0 46px 0 0;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
  line-height: 26px;
}
.user-choice-finded__sorting2 {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
}
.user-choice-finded__sorting1-item {
  color: var(--basic-light-blue);
}
.user-choice-finded__sorting1-item:hover {
  border-bottom: 1px dashed var(--basic-light-blue);
}
.user-choice-finded__sorting1-item:active {
  color: var(--basic-black);
  border-bottom: 0px;
}
.user-choice-finded__sorting1-item2 {
  color: var(--special-gray);
  border-bottom: 1px dashed var(--basic-light-blue);
}
.user-choice-finded__sorting1-item2:hover {
  color: var(--basic-light-blue);
  border-bottom: 1px dashed var(--basic-light-blue);
}
.user-choice-finded__sorting1-item2:active {
  color: var(--basic-black);
  border-bottom: 0px;
}

.sort-ascending:hover path {
  fill: var(--basic-black);
}

.sort-descending:hover path {
  fill: var(--basic-black);
}

.sort-ascending:active path {
  fill: var(--basic-light-blue);
}

.sort-descending:active path {
  fill: var(--basic-light-blue);
}

.user-choice-list {
  padding: 0;
  margin: 0;
}
.user-choice-list h3 {
  margin: 0;
}
.user-choice-list dl {
  margin: 0;
}

.user-choice-list-hotel {
  position: relative;
  padding: 24px 0 30px 0;
  min-height: 96px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content auto -webkit-min-content;
  -ms-grid-columns: min-content auto min-content;
  grid-template-columns: -webkit-min-content auto -webkit-min-content;
  grid-template-columns: min-content auto min-content;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.user-choice-list-hotel > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.user-choice-list-hotel > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.user-choice-list-hotel > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.user-choice-list-hotel > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.user-choice-list-hotel > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.user-choice-list-hotel > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.user-choice-list-hotel > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.user-choice-list-hotel > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.user-choice-list-hotel > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.user-choice-list-hotel img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
.user-choice-list-hotel__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 21px;
  font-weight: 700;
}
.user-choice-list-hotel__title a {
  color: var(--basic-black);
}
.user-choice-list-hotel__title a:hover {
  color: var(--basic-light-blue);
}
.user-choice-list-hotel__title a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.user-choice-list-hotel dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 258px;
  color: var(--basic-invisible);
}
.user-choice-list-hotel dt {
  margin: 0;
  -moz-text-align-last: left;
       text-align-last: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
.user-choice-list-hotel dd {
  margin: 0;
  -moz-text-align-last: left;
       text-align-last: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
}
.user-choice-list-hotel__stars {
  padding-top: 2px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-column-align: right;
      justify-self: right;
}
.user-choice-list-hotel p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-column: end;
  -ms-grid-column-align: right;
      justify-self: right;
  margin: 0;
  width: 110px;
  -ms-grid-row-align: end;
      align-self: end;
  padding: 5px 0;
  color: var(--basic-more-gray);
  background: var(--basic-neutral);
}
.user-choice-list-hotel__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.user-choice-list-hotel__buttons a {
  margin-right: 6px;
  margin-top: 6px;
}
.user-choice-list-hotel__img {
  margin-right: 30px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.user-choice-list-hotel:before {
  position: absolute;
  content: "";
  top: 0;
  right: -73px;
  width: 1200px;
  height: 1px;
  background: var(--special-neutral);
}

.user-choice-list-hotel:after {
  position: absolute;
  content: "";
  top: 150px;
  right: -73px;
  width: 1200px;
  height: 1px;
  background: var(--special-neutral);
}

.more-details {
  padding: 2px 15px;
  font-weight: 700;
  color: var(--basic-white);
  border: 2px solid var(--basic-light-blue);
  background: var(--basic-light-blue);
}
.more-details:hover {
  background: var(--basic-blue);
}
.more-details:active {
  color: var(--special-blue);
  background: var(--basic-extra-blue);
}

.reservation {
  padding: 2px 15px;
  font-weight: 700;
  color: var(--basic-white);
  border: 2px solid var(--basic-light-brown);
  background: var(--basic-light-brown);
}
.reservation:hover {
  background: var(--special-brown);
}
.reservation:active {
  color: var(--special-light-brown);
  background: var(--special-brown);
}

.title_white {
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
}

.searching-form {
  position: relative;
  width: 568px;
  margin: 0 auto;
}
.searching-form__title {
  padding: 0 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86px;
  line-height: 26px;
  background-color: var(--basic-light-brown);
}
.searching-form__title:hover {
  background-color: var(--special-brown);
}
.searching-form__title:active {
  background-color: var(--special-extra-brown);
}
.searching-form__title:active h2 {
  opacity: 0.3;
}
.searching-form__form {
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.form {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 112px auto 108px auto;
  grid-template-columns: 112px auto 108px auto;
  grid-row-gap: 29px;
  padding: 55px 54px 55px 54px;
}
.form__svg:hover path {
  fill: var(--basic-black);
}
.form__svg:active path {
  fill: var(--basic-light-blue);
}
.form__svg:hover rect {
  fill: var(--basic-black);
}
.form__svg:active rect {
  fill: var(--basic-light-blue);
}
.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  outline: 0;
}
.form input {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-neutral);
}
.form .arrival-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: left;
      justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .input-arrival-date {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: right;
      justify-self: right;
  width: 346px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
  width: 346px;
  height: 38px;
}
.form .departure-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: left;
      justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .input-departure-date {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column-align: right;
      justify-self: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
  width: 346px;
  height: 38px;
}
.form .adults {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: left;
      justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form .quantity-adults {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: center;
  -ms-grid-column-align: right;
      justify-self: right;
}
.form .children {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: right;
      justify-self: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 21px;
}
.form .quantity-children {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: center;
  -ms-grid-column-align: right;
      justify-self: right;
}
.form__find {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  margin-top: 25px;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
  background-color: var(--basic-light-blue);
}
.form__find:hover {
  background-color: var(--basic-blue);
}
.form__find:focus {
  border: 2px solid var(--basic-white);
}
.form__find:active {
  background-color: var(--basic-extra-blue);
}
.form__find:active span {
  opacity: 0.3;
}
.form input:hover {
  background-color: var(--basic-dark-neutral);
}
.form input:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--special-neutral);
}
.form__button-calendar-arrival {
  position: absolute;
  top: 62px;
  left: 483px;
  width: 21px;
  height: 23px;
  border: none;
  background: transparent;
}
.form__button-calendar-arrival svg {
  position: absolute;
  top: 0;
  left: 0;
}
.form__button-calendar-arrival:focus svg {
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 28px;
}
.form__button-calendar-departure:focus svg {
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 28px;
}
.form__button-calendar-departure {
  position: absolute;
  top: 129px;
  left: 483px;
  width: 21px;
  height: 23px;
  border: none;
  background: transparent;
}
.form__button-calendar-departure svg {
  position: absolute;
  top: 0;
  left: 0;
}
.form__button-minus {
  position: relative;
  width: 37px;
  height: 38px;
  border: none;
  background-color: transparent;
}
.form .minus_for-children {
  position: absolute;
  top: 190px;
  left: 401px;
}
.form .minus_for-children svg {
  position: absolute;
  top: 18px;
  left: 11px;
}
.form .minus_for-children:focus {
  position: absolute;
  top: 190px;
  left: 401px;
}
.form .minus_for-children:focus svg {
  position: absolute;
  top: 18px;
  left: 11px;
  width: 15px;
  height: 4px;
}
.form .minus_for-adults {
  position: absolute;
  top: 190px;
  left: 168px;
}
.form .minus_for-adults svg {
  position: absolute;
  top: 18px;
  left: 13px;
}
.form .minus_for-adults:focus {
  position: absolute;
  top: 190px;
  left: 168px;
}
.form .minus_for-adults:focus svg {
  position: absolute;
  top: 18px;
  left: 13px;
  width: 15px;
  height: 4px;
}
.form__button-plus {
  width: 37px;
  height: 38px;
  border: none;
  background-color: transparent;
}
.form__quantity {
  width: 114px;
  height: 38px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
}

.plus_for-adults {
  position: absolute;
  left: 241px;
  top: 190px;
}

.plus_for-children {
  position: absolute;
  left: 474px;
  top: 190px;
}

.plus_for-adults:focus {
  position: absolute;
  left: 241px;
  top: 190px;
}
.plus_for-adults:focus svg {
  width: 13px;
  height: 13px;
}

.plus_for-children:focus {
  position: absolute;
  left: 474px;
  top: 190px;
}
.plus_for-children:focus svg {
  width: 13px;
  height: 13px;
}